@import './api.css';

#element-header {
  position: -webkit-sticky;
  position: sticky;
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background: #f3f3f6;
  z-index: 2;
  top: 0;
  left: 0;

  margin-top: -40px;

  transform: translate(0,0);
  transition: transform .3s ease;
}

#element-header.hide{
  transform: translate(0,-100%);
  transition: transform .3s ease;
}

#element-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: -50vw;
  bottom: 0;
  left: -50vw;
  background: inherit;
  z-index: -1;
  border-bottom: 1px solid #ddd;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}

#element-header input {
  white-space: pre;
  font-size: 11px;
  outline: none;
  border: none;
  background: #ffffff;
  overflow: hidden;
  height: 22px;
  box-sizing: border-box;
  padding: 0 7px 0 20px;
  border-radius: 3px;
  line-height: 23px;
  flex: auto;
  margin-right: 5px;
  font-family: 'Source Code Pro', monospace;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top right, transparent calc(50% - 1px), #d61564 50%, transparent calc(50% + 1px)), linear-gradient(to bottom right, transparent calc(50% - 1px), #d61564 50%, transparent calc(50% + 1px));
  background-size: 4px 4px;
  background-repeat: no-repeat;
  background-position: 8px calc(50% - 1.5px), 8px calc(50% + 1.5px);
}

#element-header a {
  display: inline-flex;
  flex: none;
}