.branding > .book-icon {
    background-image: url(../images/refinitiv-white.png);
}

.header.branding {
    background-color: #001EFF;
    color: #DCEEFB;
}

.header.branding h1 a {
    padding-left: 10px;
}

.header.branding input {
    background: white;
    color: #424242;
}

