@import url(../fonts/proximanova/proxima-nova.css);
@import url(../fonts/source-code-pro/source-code-pro.css);

/* elf-template css control in .elf-template class */
.elf-template {
	font-family: 'ProximaNova', 'Open Sans', sans-serif;
	line-height: 1.5;
	color: --primary-text-color;
}

.elf-template h2,
h3.subsection-title {
	font-size: 22px;
	font-weight: 300;
	letter-spacing: -1px;
	margin-bottom: 12px;
}

.elf-template h5,
.container-overview .subsection-title {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: -0.01em;
	margin: 8px 0 3px 0;
}

.elf-template a,
.elf-template a:visited,
a:active {
	text-decoration: none;
}

.elf-template a:hover {
	text-decoration: none;
}

.elf-template .prettyprint {
	font-size: 10pt;
	font-weight: 400;
	padding: 10px;
	background-color: #f3f3f6;
	overflow: auto;
}

.elf-template .type-signature {
	color: #aaa;
	display: none;
}

.elf-template .disabled {
	color: #454545;
}

.elf-template .item {
	padding: 10px 0;
	position: relative;
	border-top: 1px solid #ededef;
}


.elf-template .params .param {
	margin: 5px 7px 10px 7px;
	line-height: 1;
}

.elf-template .params .name {
	font-size: 10pt;
	display: inline;
}

.elf-template .params .attributes {
	display: inline;
	font-size: 65%;
	font-style: italic;
	font-weight: lighter;
}

.elf-template .params .default {
	display: inline;
	font-size: 10pt;
	padding-left: 5px;
}

.elf-template .params .description {
	font-size: 11pt;
	margin-top: 5px;
}

.elf-template .params .type {
	font-size: 10pt;
	display: inline;
}

.elf-template .param {
	line-height: 0;
}

.elf-template .item .sub {
	font-size: 10pt;
	/*color: #76768a;*/
	display: block;
	margin-top: 10px;
}

.elf-template .item .sub-content {
	margin: 5px 7px;
	display: inline;
	font-size: 10pt;
}

.elf-template .item .sub-content-desc {
	margin: 5px 7px;
	font-size: 10pt;
	margin-top: 0px;
	line-height: 1;
}

.elf-template .item .param-desc {
	margin: 5px 7px;
	font-size: 10pt;
}

.elf-template .param-type {
	float: none;
	color: #535de9;
	display: inline;
	font-size: 10pt;
}

.elf-template .item>.param-type {
	margin: 5px 7px;
	float: none;
	display: inline;
	font-size: 10pt;
}

.elf-template .item .item-type {
	float: right;
	font-family: 'Source Code Pro';
	font-size: 9pt;
	margin-top: 6px;
}

.elf-template .item h5 {
	font-size: 10pt;
	display: block;
	margin-top: 12px;
	font-weight: normal;
}

.elf-template .item .details dt {
	font-size: 10pt;
	display: block;
	margin-top: 12px;
}

.elf-template .item .details dd,
dd.argument-list {
	margin: 5px 7px;
	font-size: 10pt;
	margin-top: 0px;
}

.elf-template dd ul li:before {
	position: initial;
	display: inline-block;
	margin-top: -2px;
	margin-left: -35px;
	margin-right: 15px;
	vertical-align: middle;
}

.elf-template .tag-see ul {
	line-height: 20px;
}

.elf-template .item .sub-content .param-type {
	font-family: 'ProximaNova', 'Open Sans', sans-serif;
	font-size: 10pt;
}

.elf-template .item table td,
th {
	font-size: 10pt;
}

.elf-template .subsection-title {
	margin: 35px 0 15px;
}

.elf-template .params .name {
	font-weight: bold;
}

.elf-template .params .name,
.elf-template code {
	font-family: 'Source Code Pro', 'Andale Mono', monospace;
	font-size: 10pt;
	background: unset;
}

.elf-template header {
	display: none
}

.elf-template .signature-attributes {
	font-size: 60%;
	font-style: italic;
	font-weight: lighter;
}

.elf-template .name,
.signature {
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
}

.elf-template h1,
.elf-template h2,
.elf-template h3,
.elf-template h4 {
	font-weight: 300;
	margin: 0;
}

.elf-template h4 {
	font-size: 18px;
	letter-spacing: -0.33px;
	margin-bottom: 10px;
}

.elf-template-break {
	height: 0;
	border-top: 2px dashed #dedee1;
	margin: 60px -50vw;
}

.elf-template .props {
	overflow: auto;
}

.elf-template pre code p {
	margin: 0;
}